:root{
	--nc-font-sans:'Inter',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	--nc-font-mono:Consolas,monaco,'Ubuntu Mono','Liberation Mono','Courier New',Courier,monospace;
	--nc-tx-1:#000000;
	--nc-tx-2:#1B1A1A;
	--nc-bg-1:#F2EFEF;
	--nc-bg-2:#E8E5E5;
	--nc-bg-3:#D8D6D6;
	--nc-lk-1:##36C9C5;
	--nc-lk-2:#0366D6;
	--nc-lk-tx:#FFFFFF;
	--nc-ac-1:#D6D600;
	--nc-ac-tx:#EFEFF2
	}
	
@media (prefers-color-scheme:dark){
	:root{
		--nc-tx-1:#F2EFEF;
		--nc-tx-2:#E8E5E5;
		--nc-bg-1:#000000;
		--nc-bg-2:#1B1A1A;
		--nc-bg-3:#232222;
		--nc-lk-1:#3291FF;
		--nc-lk-2:#0070F3;
		--nc-lk-tx:#FFFFFF;
		--nc-ac-1:#7928CA;
		--nc-ac-tx:#FFFFFF
		}
	}
#logo {
	margin: 40px auto;
	display: block;
	width: 200px;
	border-radius: 50%;
}

.translation_box {
	margin: 30px auto auto auto;
	padding: 20px;
##	width: 40%;
	border: 1px solid gray;
	border-collapse: collapse;
}

.results_table {
	display: none;
	margin: 30px auto auto auto;
##	width: 40%;
	border: 1px solid var(--nc-bg-3);
/*	border-collapse: collapse; */
}

/* .results_table tr {background: var(--nc-bg-1);} */
	
.results_table tr:nth-child(2n){background: var(--nc-bg-2)}

.results_table th {
	background: var(--nc-bg-2);
	padding: 1rem;
##	width: 50%;
}

.results_table td {
	width: 50%;
	text-align: left;
	padding: 5px;
}

#searchfield {
	height: 30px;
	font-size: 20px;
	width: 30%;
	outline: none;
	justify-content: center;
}

#searchbutton {
	background: #36C9C5;
	font-size: 20px;
	padding: 5px 8px;
	border:0;
	border-radius: 10px;
	cursor: pointer;
	color: var(--nc-bg-2);	
	justify-content: center;

}

#searchbutton:hover {
	background: var(--nc-bg-2);
	color: gold;
}

#info {
	margin: 5px 0px;
	font-size: small;
	font-style: italic;
}

#noresults {
	display: none;
	font-style: italic;
	font-size: 20px;
	margin-top: 30px;
}

@media only screen and (max-width: 600px) {
	.results_table { 
		width: 95%;
	}
	#searchfield {
		width: 80%;
	}
}
